{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}
{{ 'scroll-with-image-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding container">
  <div class="page-width">
    <div class="image-with-text">
      <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
        <div class="image-with-text__media-item--{{ section.settings.desktop_image_width }} grid__item image-content-item">
          <div
            class="image-with-text__media {% if section.settings.image != blank %} media custom-media{% else %} image-with-text__media--placeholder placeholder{% endif %}"
          >
            {%- if section.settings.image != blank -%}
              {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
              {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
                (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
              {%- endcapture -%}
              {{
                section.settings.image
                | image_url: width: 1500
                | image_tag: sizes: sizes, widths: widths, height: auto, fetchpriority: fetch_priority
              }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>
        <div class="image-with-text__text-item grid__item block-content">
          <h2 class="block-heading" style="color: {{ section.settings.content_color }}">
            {{ section.settings.description_title }}
          </h2>
          <p class="block-description">{{ section.settings.description_content }}</p>
          <div class="block-container">
            <div class="progress-bar">
              <div class="progress-bar-inner" style="background: {{ section.settings.content_color }}">
                <span class="empty-element"></span>
              </div>
            </div>

            {% for block in section.blocks %}
              {% if block.type == 'text' %}
                <div class="block-container-content">
                  <div class="block-title">
                    <h3 class="block-title" style="color: {{ section.settings.content_color }};">
                      <span class="checkpoint" style="background: {{ section.settings.content_color }}"></span
                      ><span>{{ block.settings.block_heading }}</span>
                    </h3>
                  </div>
                  <p class="block-content-description">
                    {{ block.settings.block_description }}
                  </p>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ 'scroll-with-image-section.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Image with scroll",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Select your image"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Image width"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "Image first"
        },
        {
          "value": "text_first",
          "label": "Text first"
        }
      ],
      "default": "image_first",
      "label": "Switch Image and text content"
    },
    {
      "type": "text",
      "id": "description_title",
      "label": "Description title",
      "default": "Set your title"
    },
    {
      "type": "text",
      "id": "description_content",
      "label": "Description content",
      "default": "Set your description"
    },
    {
      "type": "color",
      "id": "content_color",
      "default": "#00026E",
      "label": "Content Colour"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top paddin",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Scroll block",
      "limit": 7,
      "settings": [
        {
          "type": "text",
          "id": "block_heading",
          "label": "Heading in block",
          "default": "Set your block heading"
        },
        {
          "type": "textarea",
          "id": "block_description",
          "label": "Description in block",
          "default": "Set your description here in your block"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with scroll",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
